table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}

th.first{
    width: 150px;
    height: 30px;
}

tr.first{
    height: 30px;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

.green{
    background-color: green;
}

.red{
    background-color: red;
    color: white;
}

.second{
    width: 300px;
    height: 200px;
}